<h1>Import Gmail messages</h1>

<% if flash[:notice] %>
  <div class="alert alert-warning">
      <%= flash[:notice] %>
  </div>
<% end %>

<div id="count">
</div>

<div id="progress-bar">
  <div></div>
</div>
